<link href="/public/css/update.css" rel="stylesheet">

<form id="add" method="POST" action="/update">
    <header>Stock Update</header>
        <input class="data" id="name" type="text" name="name" placeholder="StockName"><br>
        <input class="data" id="code" type="text" name="code" placeholder="StockCode"><br>
        <input class="data" id="price" type="number" name="price" placeholder="StockPrice"><br>
        <input type="submit" value="Update" class="btn">
</form>